[2015-03-28 13:41] MichaelKohler opened #1 "Finalize header"
* Mozilla CH Logo
* Tabzilla
* Links ("Support", "Donate", "Mission", "Mozilla.org") in the header left to the tabzilla button

[2015-03-28 13:41] MichaelKohler opened #2 "Tiles Draft"
similar to mozilla.org

[2015-03-28 13:42] MichaelKohler opened #3 "Get Involved"
* below the tiles
* Initial text
* "L10N" and "Contact" tiles

[2015-03-28 13:43] MichaelKohler opened #4 "add L10N"

[2015-03-28 13:43] MichaelKohler opened #5 "add footer (same as mozilla.org)"

[2015-03-28 13:45] MichaelKohler opened #6 "Finalize MozillaCH logos"

[2015-03-28 13:46] MichaelKohler opened #7 "Investigate API usage"
* Reps? Ical?
* People (mozillians.org)

[2015-03-28 13:47] MichaelKohler opened #8 "Find group pictures to use"
Where to put it?

[2015-03-28 13:51] MichaelKohler opened #9 "Add Tile content"
- [x] Upcoming Event
- [x] Get Involved
- [x] Past events
- [x] Follow us on twitter
- [x] Download Firefox
- [x] Social Media stream
- [x] Some people's pictures from mozillians.org
- [x] Campaign tile
- [x] Help
- [x] Mail (info at mozilla.ch?)

Random tiles: (to fill the space)
- [x] Firefox OS Apps from MozillaCH in Marketplace (Weight: 2)
- [x] Firefox OS (Weight: 1)
- [x] Privacy (Weight: 2)

[2015-03-28 13:54] MichaelKohler commented on #3
https://github.com/mozillacommunitych/mozillach_playground/commit/d93ecf3368e326c83603f0c37f8bda5ec61b9009

[2015-03-28 13:57] MichaelKohler opened #10 "Add Font"

[2015-03-28 13:58] freaktechnik commented on #6
Logos are now in the branding repo.

[2015-03-28 14:44] jviereck commented on #9
Done as part of the embedded twitter feed.

[2015-03-28 15:47] MichaelKohler commented on #4
L10N files created -> assigning to Colin for server-side impl

[2015-03-28 15:48] MichaelKohler commented on #6
verified

[2015-03-28 15:48] #6 closed

[2015-03-28 15:48] MichaelKohler commented on #5
done

[2015-03-28 15:48] #5 closed

[2015-03-28 15:50] J0WI commented on #3
https://github.com/mozillacommunitych/mozillach_playground/pull/3

[2015-03-28 16:31] MichaelKohler commented on #10
done by Martin

[2015-03-28 16:31] #10 closed

[2015-03-28 16:31] MichaelKohler commented on #1
done

[2015-03-28 16:31] #1 closed

[2015-03-28 19:19] freaktechnik commented on #4
Just missing it for tiles.

[2015-03-28 19:22] freaktechnik commented on #3
Missing picture for "l10n" subsection

[2015-03-28 22:08] #3 closed

[2015-03-28 22:08] #4 closed

[2015-03-28 22:08] MichaelKohler opened #11 "Finalize Responsive Design"

[2015-03-29 00:45] freaktechnik opened #12 "Contribute to this site points to unrelated resource"
The contribute to site link in the footer currently points to https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org. Wouldn't we want it to point to this repo?

[2015-03-29 00:46] freaktechnik commented on #11
(mainly the two section things under get involved)

[2015-03-29 00:52] freaktechnik opened #13 "Contact link still points to nobody@mozilla.org"

[2015-03-29 01:43] freaktechnik commented on #9
![p_20150329_004412](https://cloud.githubusercontent.com/assets/640949/6883769/c31f907e-d5c5-11e4-91eb-fd7d558dcf00.jpg)

[2015-03-29 09:19] freaktechnik commented on #9
The follow us tile content is currently cut off in french. I'm not sure if we want that text size. Or do we want dynamic scaling?

[2015-03-29 09:28] freaktechnik opened #14 "When resizing the screen tiles sometimes get messed up"
The library we use seems to get the size of the tiles before some of them are resized by media queries, which breaks the layout it calculated.

[2015-03-29 10:32] #14 closed

[2015-03-29 10:36] jviereck commented on #14
Why are we doing the tile resizing using JS and not using media queries / CSS?

[2015-03-29 10:45] jviereck opened #15 "Problem starting local server"
Hi there,
following the instructions listed in the README.md file to start local dev server I get the error here:

https://gist.github.com/jviereck/d896c0eee791c017d1b8

Any ideas what is going wrong?

lg Julian

[2015-03-29 11:17] freaktechnik commented on #14
@jviereck That's done in media queries, problem is, the grid generator can't reliable wait long enough for the resize to have happened when he recalculates the layout with just the window resize event.
EDIT: removed traces of my incapability to read
EDIT2: I've also tried using the media query listeners in JS with no luck

[2015-03-29 11:41] freaktechnik commented on #15
http://stackoverflow.com/questions/24251793/warning-date-default-timezone-get-installing-symfony
TL;DR: php.ini hat keine timezone definiert

[2015-03-29 12:56] freaktechnik commented on #11
(fixed those. Not sure if there's anything left that's wrong)

[2015-03-29 13:44] J0WI commented on #9
The twitter feed should not be embedded as an iframe for privacy reasons.

[2015-03-29 13:53] J0WI commented on #9
Public API from marketplace: https://firefox-marketplace-api.readthedocs.org/en/latest/topics/search.html

[2015-03-29 14:19] #12 closed

[2015-03-29 14:34] freaktechnik commented on #8
Here? https://www.mozilla.org/en-US/contact/communities/switzerland/

[2015-03-29 22:10] #2 closed

[2015-03-29 22:11] #15 closed

[2015-03-30 12:52] #13 closed

[2015-03-30 12:53] freaktechnik opened #16 "Contribute thing points to l10n.mozilla.org in english"
Shouldn't the left bottom contribute thing link to somewhere else than l10n.mozilla.org for english?

[2015-03-30 13:29] freaktechnik commented on #9
Should get involved link to the get involved section below or http://mozilla.org/contribute? I'd assume the Help tile will link to http://support.mozilla.org (support and mail also need l10n).

[2015-03-30 13:36] MichaelKohler commented on #9
just a #ID link to the section below should be enough

[2015-03-30 13:51] freaktechnik commented on #9
Using the anchor doesn't work fully, as the page gets reloaded on click (because of the target="_self" which it needs because we have a target="_blank" in the base?"), which works until the reflow for the grid has happened, and causes the page to scroll down in the viewport (as the grid takes up less space).

[2015-03-30 17:10] MichaelKohler commented on #16
yeah, seems like it should point to mozilla.org/contribute or something similar?

[2015-03-30 17:10] MichaelKohler commented on #11
Todo here: define order of tiles in mobile view

[2015-03-30 17:20] MichaelKohler opened #17 "mozilla.ch domain + community IT finish"

[2015-03-30 17:31] freaktechnik commented on #16
Yup. We should probably make the url localizeable?

[2015-03-30 17:32] MichaelKohler commented on #16
Yes, we probably also want to point to the different communities that do translations and give visitors a chance to contribute in their own locale.

[2015-03-30 17:41] freaktechnik commented on #17
https://bugzilla.mozilla.org/show_bug.cgi?id=1130862

[2015-03-30 17:42] freaktechnik commented on #11
We can't really do that. We can just try to reorder them, so they look the same on mobile, but generally the order is set by the desktop order.

[2015-03-30 17:43] MichaelKohler commented on #11
I haven't looked at the code, but I think we're using flex right? So we could just change the order without changing it in the HTML. Am I missing something?

[2015-03-30 17:58] freaktechnik commented on #11
No, we're using a js lib that creates the most efficient layout (and tries to follow the order in the markup, if possible).

[2015-03-30 17:59] freaktechnik commented on #9
I've added a string for the next event tile for the case that no event is planned. As a heads up: the page now uses the intl module to get the name of the month in the current language (not sure if that module works with rm^^), so you might have to add that to your php server.
EDIT: yup, rm causes a timeout.
EDIT2: it seems mozilla.org translates the month in the big date, but uses the english nam

[2015-03-30 18:05] MichaelKohler commented on #17
Updated the bug and contacted the current owner.

[2015-03-30 18:51] jviereck commented on #11
Mhmm, are you sure about this? If I look at the mozilla.org website, the ordering on desktop and mobile are not related. E.g. on desktop the tiles are ordered like this:

![screen shot 2015-03-30 at 20 44 52](https://cloud.githubusercontent.com/assets/191719/6903943/d5a57426-d71d-11e4-908a-077bcf0bd1c8.png)

While on smaller screens (aka mobile) the ordering is the following:

![screen shot 2015-0

[2015-03-30 19:01] freaktechnik commented on #11
@jviereck mozilla.org absolutely positions each tile in their css code, which we do not do for mozilla.ch, due to the wish, that tiles should be easy to insert and remove. We're using a js lib called [masonry](http://masonry.desandro.com/) to calculate the most compact grid possible for the current space.

[2015-03-30 19:19] jviereck commented on #11
@freaktechnik, okay, now I see the point :) Is the tile configuration stored on the server? In that case I would love to try and generate the required responsive CSS using php when the site is served.

[2015-03-30 19:39] freaktechnik commented on #11
@jviereck: There is no configuration farther than the order in HTML (tiles are normal left floated blocks with a static position until the script calculates their final position). The script then just fills up the empty spaces that layout would generate.

[2015-03-30 20:47] jviereck commented on #11
@freaktechnik thanks for the input! If the JS script can compute the positions based on the HTML order, which the PHP script knows about, then I think it should be possible to compute the positions in PHP already and emit the correct css `@media` definitions.

At this point, I think it's fine to use the JS version and don't hold back the site launch from it. If you don't mind I would still like to

[2015-03-30 20:51] freaktechnik commented on #11
Sure. The sizes of tiles are defined by the promo- classes and they generally have 20px of spacing.

[2015-03-30 21:00] #16 closed

[2015-04-02 21:56] J0WI commented on #9
For our own twitter widget:
https://cdn.syndication.twimg.com/widgets/timelines/581826491673128960

[2015-04-02 22:45] freaktechnik commented on #9
@J0WI colin already added a twitter library, there's just no template and controller to generate the actual widget, since he agreed that the widget from twitter is enough.

[2015-04-02 23:19] J0WI opened #19 "calender symbol character is not encoded"
app/Resources/public/less/index.less:157
[code]
Spec: "<string> value, non-latin characters must be encoded"

@freaktechnik I fixed this in #18, but I'm using the official calender icon instead of this unstandardised one.

[2015-04-02 23:25] freaktechnik commented on #19
I just copied the value from mozilla, though I forgot to convert it back to the encoded value.

[2015-04-02 23:34] J0WI commented on #9
@freaktechnik see https://github.com/mozillacommunitych/mozilla.ch/issues/9#issuecomment-87416118

[2015-04-02 23:38] freaktechnik commented on #9
@J0WI what I meant, si that we dont' ahve to worry about the actual twitr API endpoints as we have a twitter lib: https://github.com/mozillacommunitych/mozilla.ch/blob/master/src/AppBundle/Command/TwitterFeedCacheCommand.php (though this isn't renderable, if I understood the symfony docs correctly, so we'd need some code to make a rendering twitter feed)

[2015-04-03 00:30] J0WI opened #20 "Update Symfony"
http://symfony.com/blog/cve-2015-2309-unsafe-methods-in-the-request-class
http://symfony.com/blog/cve-2015-2308-esi-code-injection

[2015-04-03 00:41] J0WI commented on #20
Fixed in https://github.com/mozillacommunitych/mozilla.ch/commit/69e23fced2da8464e0e03a79265d4f447c21607e

[2015-04-03 00:41] #20 closed

[2015-04-04 13:29] J0WI commented on #9
How do you think about other tile content like https://www.mozilla.org/privacy/tips/ or https://www.mozilla.org/firefox/independent/?

[2015-04-04 13:35] J0WI opened #21 "missing mozillians.api parameters breaks local development"
Some parameters are missing. Please provide them.
mozillians.api_app_name (null):
mozillians.api_key (null):
mozillians.group_names (switzerland):

Without these arguments you will get an error:

An exception has been thrown during the rendering of a template ("Client error response
[status code] 401
[reason phrase] UNAUTHORIZED
[url] https://mozillians.org/api/v1/users?app_name&app_key&groups=swi

[2015-04-04 13:36] colinfrei commented on #21
Will need to check if they're around and display default content if not.

[2015-04-04 13:55] #21 closed

[2015-04-04 13:57] J0WI commented on #21
Thanks!

[2015-04-04 14:34] MichaelKohler commented on #9
Sure, feel free to create a tile :) I don't think there is any existing? But we can adopt one and just change the color or something. Nice idea! I could even imagine to have this as non-random (persistent) tile

[2015-04-04 14:39] MichaelKohler commented on #9
"Some people's pictures" is almost done it seems, looks nice! Though there are still two Gravator pictures that don't get replaced.

[2015-04-04 15:45] freaktechnik commented on #9
@MichaelKohler: have tried reload cycling? Basically it displays the switzerland group's gravatar pictures with a random offset, so those two tiles contain the picture of someone without a gravatar set. Further we need to define the link they point to.
EDIT: also, do you want random tiles to have something like a rotation?

[2015-04-04 15:47] MichaelKohler commented on #9
Could we take another person to make sure we almost have pictures? So everybody who hasn't a gravatar picture wouldn't show up. That would be fine with me until we figured out how to get the picture from Mozillians.org.

Regarding rotation: not necessarily, but would be great. We have more tiles than space anyway so we have some kind of rotation anyway.

[2015-04-04 15:49] #19 closed

[2015-04-04 15:49] colinfrei commented on #9
We don't currently check if a gravatar picture exists, we just call up the image which has the built-in fallback. Could probably check that as well, though we'd have to decide what to do then, to make sure the same person doesn't show up twice.

[2015-04-04 15:50] MichaelKohler commented on #9
I just updated the random tiles with an "weight", if we want to implement that.

[2015-04-04 15:53] freaktechnik commented on #9
We could alternatively use unique gravatar default pictures instead (identicon, mosnterid, wavatar, retro).

[2015-04-04 15:54] MichaelKohler commented on #9
Well, that still would look weird. I'd really like to have all faces ;)

[2015-04-04 17:05] MichaelKohler opened #22 "Code cleanup (Less, index.html.twig?, ...)"

[2015-04-04 17:11] freaktechnik commented on #22
Well, the only file we should clean up is index.less and maybe split it up in multiple files. the other ones are more or less the same, except for a removed font definition.

[2015-04-04 19:32] MichaelKohler commented on #9
I think "Firefox OS Apps from MozillaCH in Marketplace" is actually a really strong tile too. Maybe we could put it as 2x1 below "Download Firefox" and show it all the time? Then we'd also don't have the problem regarding the 1x1 "random" tile.

Then we would have 2 2x1 tiles left to show the rest of the "optional" tiles randomly.

What do you think?

[2015-04-04 19:32] MichaelKohler commented on #9
Working on the 1x1 Mail tile now.

[2015-04-04 19:46] MichaelKohler opened #23 "MozillaCH Firefox OS Apps"
In issue #9 we have a Tile "Firefox OS Apps from MozillaCH in Marketplace". What are candidates for that?
My ideas:

* https://marketplace.firefox.com/app/grrds-4-in-a-row-1
* https://marketplace.firefox.com/app/grrds-puzzle-1

Further SJW mentioned, that neither "ÖV Schweiz" nor "SRF Podcast" are compatible with Firefox OS 3.0. These might be good candidates too, but we should make sure that they

[2015-04-04 19:49] J0WI commented on #23
What about official Mozilla Apps? Probably we need to translate them first.
Personally I like this one https://marketplace.firefox.com/app/notes

or this: https://marketplace.firefox.com/app/podcasts

[2015-04-04 19:51] MichaelKohler commented on #23
I think as a first step we should see if we have any local content to promote.

[2015-04-04 20:05] MichaelKohler opened #24 "Link to external blogposts"
I just removed the "external blogposts tile" from issue #9. I think a tile is too complicated to maintain since we won't have an up-to-date blogpost all the time. Do you have any idea how to promote otherwise?

[2015-04-04 20:28] J0WI commented on #24
We could use RSS-Feeds or similar.
Or we just create static tiles for topics like http://www.firefox10.org/

[2015-04-04 20:34] MichaelKohler commented on #24
For topics like firefox10.org we can always use the "Campaign" tile (currently "Firefox Hello"). If we don't have a campaign at some point, we could move the most recent MozillaCH related blog post there.

[2015-04-05 01:21] MichaelKohler commented on #23
I'm gonna ask TheOne if it's possible to have a page on the marketplace where we could link to.

[2015-04-05 01:31] MichaelKohler commented on #9
I just deleted the Donation Tile from the list since we have enough otherwise. We still have the Donate link in the header. And for the end of year fundraising campaigns we can use the campaign tile.

[2015-04-05 01:31] MichaelKohler commented on #9
Let's close this one and open new issues for issues with different tiles.

[2015-04-05 01:31] #9 closed

[2015-04-05 01:32] MichaelKohler commented on #24
Let's use the Campaign Tile for important blog posts.

[2015-04-05 01:32] #24 closed

[2015-04-05 01:32] MichaelKohler commented on #8
Where could we put the group pictures?

[2015-04-05 01:34] MichaelKohler opened #26 "mozillians.org Pictures + Info to everybody"
* Inform everybody that they'll show up on the website
* Ask them to upload pictures to Gravatar with their real face if possible

[2015-04-05 01:38] MichaelKohler opened #27 "Padding for "Next Event" tile is wrong"
![screen shot 2015-04-05 at 03 37 38](https://cloud.githubusercontent.com/assets/330324/6995386/4ae6d8e4-db45-11e4-829b-947383bda223.png)

[2015-04-05 01:58] #27 closed

[2015-04-05 01:58] J0WI commented on #27
Do we need a workaround for other browsers?

[2015-04-05 02:01] MichaelKohler commented on #27
that's fine for me

[2015-04-05 15:13] ioana-chiorean opened #28 "No text shown for no events"
Just to track it ( cc @MichaelKohler )
![screenshot 2015-04-05 17 13 22](https://cloud.githubusercontent.com/assets/1391451/6997297/6ce6b57a-dbbf-11e4-8407-0fa51323aa6c.png)

[2015-04-05 16:13] freaktechnik commented on #28
Works perfectly fine in the dev preview, I wonder if there are any errors, @colinfrei?

[2015-04-05 17:33] J0WI commented on #22
Is this bug just to have nice code or for performance improvements, too?
Most pictures are replaced with SVGs now. This reduce bandwidth usage a lot, especially when we have gzip compression on the server.
I have a very slow rendering on mobile devices (even on Firefox OS) and it looks horrible before the JavaScript is executed. Maybe we can improve that part a bit.

[2015-04-06 08:00] colinfrei commented on #28
"Fixed" - there was an issue with the SSL certificate. I'll debug more when we're on the community IT server, if the issue still occurs then. For now I've disabled SSL verification for reps.mozilla.org

[2015-04-06 08:00] #28 closed

[2015-04-06 08:01] colinfrei opened #29 "secondary-icon-sprite.png referenced that's not around"
We have a reference to a sprite file somewhere in the less code that should be removed or updated, as it's causing errors.

[2015-04-06 02:59:05] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "No route found for "GET /media/img/home/voices/secondary-icon-sprite.png" (from "http://mozilla-ch.colinfrei.com/css/cbfac9e.css")" at /home/colinfre/pub

[2015-04-06 08:08] colinfrei opened #30 "Calm down tiles"
Comparing our site to mozilla.org, ours seems a bit ... noisier? My first guess is that it's because we have a bunch more content. I wonder if we should make some of the tiles bigger (even if they don't say more than now) to make the page calmer.

Opinions and suggestions on which tiles should become bigger?

[2015-04-06 08:18] colinfrei commented on #30
Also, maybe we should replace the tweet tile with just the text of the latest tweet. Privacy reasons have been mentioned before, but there's also a lot of stuff in that iframe.

[2015-04-06 09:02] ioana-chiorean commented on #28
Verified as Fixed :dancer:
![screenshot from 2015-04-06 11 58 56](https://cloud.githubusercontent.com/assets/1391451/7002518/bdde2cfc-dc54-11e4-836f-afbd7f4458ff.png)

[2015-04-06 09:05] ioana-chiorean opened #31 "Links for mozilla domains"
As the website is localized I was wondering if you don't want the mozilla domains to be linked to the localized version. Here I mean:
* https://download.mozilla.org/
* https://www.mozilla.org/firefox/developer/
* https://www.mozilla.org/firefox/android/

[2015-04-06 09:06] ioana-chiorean commented on #31
This is a Question type of Issue - it seems I can't set labels. :D

[2015-04-06 09:07] ioana-chiorean opened #32 "Use Affiliates?"
I am not sure If you know or considered to use some affiliate links:
* https://affiliates.mozilla.org/en-US/

This is a Question type of Issue - it seems I can't set labels. :D

[2015-04-06 09:12] ioana-chiorean commented on #31
I saw just after entering this that the website is available in 5 lang.. Not sure how to set the links to offer the localized version of each..

[2015-04-06 09:16] ioana-chiorean commented on #26
Also worth considering to link their profile from mozillians.org behind their pic ( and will be nice to be not empty profiles :D)

[2015-04-06 09:56] colinfrei commented on #26
I'd love to do that, unfortunately we don't get that information through the Mozillians API.

[2015-04-06 09:56] colinfrei commented on #26
also, for the record, the mozillians API bug to get access: https://bugzilla.mozilla.org/show_bug.cgi?id=1148741

Our current access is a bit "unofficial"

[2015-04-06 09:59] colinfrei commented on #30
I'd make _Firefox OS Apps aus der Schweiz_ larger and maybe remove some of the product specific tiles.

[2015-04-06 10:05] #29 closed

[2015-04-06 10:09] freaktechnik commented on #32
I don't see any reason why we would - unless mozilla would prefer that for tracking reasons. Though for example mozilla.de doesn't seem to use affiliates links either.

[2015-04-06 12:41] freaktechnik commented on #30
:+1:

[2015-04-06 12:45] MichaelKohler commented on #30
we should make everything larger that is specific to the Swiss community. sounds good to me. +1 for the tweet tile.. looks like we agree here, so let's do it :)

Further the Involved Tile could probably be removed since we have the content right below. And maybe we can just have one Tweet tile with the latest tweet? If people want to follow us they'll click on that anyway and not the follow us til

[2015-04-06 12:46] MichaelKohler commented on #22
EVERYTHING :D

[2015-04-06 12:47] MichaelKohler commented on #31
Thanks for the input. Those websites should localize themselve according to the browser language. I think this is enough. What do the other people think?

[2015-04-06 12:48] MichaelKohler commented on #32
I don't think we need to do that. At least not from our side. If Mozilla wants it, sure, but not otherwise. Therefore okay right now.

[2015-04-06 12:48] #32 closed

[2015-04-06 12:50] freaktechnik commented on #31
I think it's fair to not link to the localized version of those sites, as, especially for english, visitors might understand other languages, which we don't offer, but mozilla has.

[2015-04-06 12:52] freaktechnik commented on #22
If we set the tile position to relative (As it would be from the mozilla.org styles) by default the rendering would look a bit less terrible, but we'd still get a reflow from the grid javascript doing its magic.

[2015-04-06 12:53] MichaelKohler commented on #22
sounds good to me

[2015-04-06 12:54] MichaelKohler commented on #31
on the other side, if we have somebody visiting /rm for example, we should definitely link to the rm Download of Firefox for example. I mean, that's one thing we want to promote with the site, right? Otherwise people won't find out that easily that there is a localized build.

[2015-04-06 13:12] J0WI commented on #29
I think that has been already fixed by https://github.com/mozillacommunitych/mozilla.ch/commit/8779de65d92f7a2058d2c275ea1af71b597bddec, so we don't need to hack on the original styles.

[2015-04-06 13:18] freaktechnik commented on #29
@J0WI: no we don't need to, but I commented it out just to be sure. The issue was the .get-involved h2, whose ::before still got the background set.

[2015-04-06 13:24] J0WI opened #33 "style Twitter widget"
How should the Twitter feed looks like?

[2015-04-06 13:35] freaktechnik commented on #33
I'd suggest one two three tweets, similar to how the twitter widget on mozilla.org looks.

[2015-04-06 13:41] J0WI commented on #31
If you would visit mozilla.org in a language, that is not set in your browser, you still get a hint to visit the translated version (e.g. https://www.mozilla.org/nl/). (Would be nice if we had something similar btw.)
Sadly rm is not a very common attribute in the Accept-Language header, even in Grisons.

[2015-04-06 13:47] freaktechnik commented on #31
@J0WI: we have that from tabzilla. and it even works now (see c5dd86645638bcef7183d5e5453579ddb07babd6).

[2015-04-06 13:53] J0WI commented on #33
The iframe has very limited options (https://dev.twitter.com/web/embedded-timelines#options). I already tried to set a limit, but this results in scrolling issues. So I think we need the API anyway.

[2015-04-06 13:59] J0WI commented on #31
@freaktechnik does not work for me, neither on localhost nor on mozilla-ch.colinfrei.com

[2015-04-06 14:04] freaktechnik commented on #31
@J0WI
![mozzch-languageswitch](https://cloud.githubusercontent.com/assets/640949/7005226/800dce10-dc76-11e4-9e22-983993893be4.png)

I think it only shows for language that you haven't listed in your content languages (-> I don't get it on de and en). And if you press no once on a domain it's gone forever.

[2015-04-06 14:15] colinfrei commented on #33
We have the API call and should have the data, just need to decide what exactly we want to display and how.

@freaktechnik you mean the tile that displays one tweet on mozilla.org?
I think that'd work fine. We could make it a bit bigger, since twitter is one of our main communication channels, but that may just be to display one tweet and make the text bigger/include an image if present.

[2015-04-06 14:18] J0WI commented on #31
@freaktechnik Not shown on http://mozilla-ch.colinfrei.com/fr using a new profile. Still working on https://www.mozilla.org/fr/.

[2015-04-06 14:18] freaktechnik commented on #33
@colinfrei exactly. I think we have the space to display multiple tweets. I'm not sure how easy the image handling is with the data we get. But we can always replace a tweet with an image in that box.

[2015-04-06 14:30] J0WI commented on #30
How about randomize more tiles, instead of removing them?
e.g. gear store, dev-edition, independent and privacy

[2015-04-06 14:46] freaktechnik commented on #30
@J0WI: those are already randomized. But we will probably remove some spots to make space for bigger tiles. The nice thing about the random tiles, is that we can add and remove spots for them whenever we want.

[2015-04-06 14:59] freaktechnik commented on #31
So we discovered in IRC, that this is due to our alternate links having the -CH region specification, and tabzilla doesn't suggest de-CH  to people who'd like to see de content. Or en-CH to people who'd like en content.

[2015-04-06 15:12] J0WI opened #34 "SEO"
- [ ] meta description
- [x] alternate favicons (svg, png "apple-touch-icon" etc.)
- [ ] improve page speed (=> #33)
- [x] title
- [ ] open graph
- [x] https
- [ ] microdata
- [ ] server warm-up

[2015-04-06 15:28] MichaelKohler commented on #34
Title, Page Speed and maybe favicons: yes
Meta keyword: not really I think

[2015-04-06 15:29] MichaelKohler commented on #30
Here are my suggestions, but not sure if that's still not too much:

![mozillach1](https://cloud.githubusercontent.com/assets/330324/7006559/7588ad64-dc82-11e4-866b-57b31d8aca2f.png)

![mozillach2](https://cloud.githubusercontent.com/assets/330324/7006562/79b4c116-dc82-11e4-9d63-e4bc2a93f3c8.png)

[2015-04-06 15:30] J0WI commented on #34
Oh and we should not forget to request https in #17

[2015-04-06 15:32] MichaelKohler commented on #17
Asked about SSL and info@mozilla.ch

[2015-04-06 15:32] MichaelKohler commented on #34
Asked in the bug. Thanks for the info.

[2015-04-06 15:47] J0WI commented on #30
We can try to make the .promo-face tiles a bit transparent and setting a grayscale filter (if not hovered).
![transparent-grayscale](https://cloud.githubusercontent.com/assets/5710638/7006883/ed02f708-dc84-11e4-97fb-3576ee3afc2f.png)

[2015-04-06 18:34] freaktechnik commented on #30
I'd suggest something along the lines of
![screen shot 2015-04-06 at 20 32 25](https://cloud.githubusercontent.com/assets/640949/7009669/2c1b82e0-dc9c-11e4-81e0-7078305ba0cb.png)

I don't think we'd need any additional content for the swiss apps tile.

[2015-04-06 21:36] MichaelKohler commented on #30
1) I think making the faces grey would help a lot
2) to freaktechnik's suggestion: I'd like to have the site as "Swiss" as possible, therefore your suggestion seems perfect. We don't necessarily have to promote other Mozilla products. Just some nits:
- Having the Gear store on top seems weird to me, not sure if we want to place that high in the user's vision
- We probably can get rid of the "Conta

[2015-04-06 21:41] freaktechnik commented on #30
It's just any random tile. The reason it's up there is to try and keep the small tiles to the edge (which helps with the overall appearance/busyness). But six one hight tiles in a row is maybe a bit much. It's just the best balance I could find.

No problem, we can always replace it with a face.

[2015-04-06 22:24] freaktechnik commented on #30
After some discussions with @MichaelKohler in IRC we've got two variants:
a) ![Variant A](https://i.imgur.com/6F2S6nF.png)
b) ![Variant B](https://i.imgur.com/Aa084tt.png)

I personaly prefer a, and https://www.evernote.com/shard/s41/sh/14f5b367-1181-4a87-9c1a-fec2ff7bd9f7/d1ea858e8207e9be6d8de6557a2f803f is my justification.

[2015-04-06 22:28] MichaelKohler commented on #30
Just to be clear the "Firefox OS" is a 1x1 random tile, the "Choose independet" is a 2x1 random tile. The same for the Marketplace and Dev Edition for the second suggestion.

I'd like to go with A) as well after seeing @freaktechnik's explanation.

Is there anything we would need to add that to make it a good website? I think all the important stuff for mozilla.ch is on there and we have two rando

[2015-04-07 05:20] colinfrei commented on #30
I like B because the events are more prominent and the big blocks are split up a bit more. Overall both look good though :)

[2015-04-12 16:12] MichaelKohler commented on #30
Do we have any other input here?

[2015-04-17 10:38] MichaelKohler commented on #8
Yeah, let's add any future group picture there too. OK for now.

[2015-04-17 10:38] #8 closed

[2015-04-17 10:40] MichaelKohler commented on #23
This is currently not possible. So we probably can do an overlay with links to the marketplace though.

[2015-04-17 10:41] MichaelKohler commented on #31
This is fixed now.

[2015-04-17 10:41] #31 closed

[2015-04-17 10:42] MichaelKohler commented on #7
@colinfrei I think this stuff is done, right? if not, please reopen

[2015-04-17 10:42] #7 closed

[2015-04-17 10:43] MichaelKohler commented on #26
I will send out a mail tonight. I think we need another group, since people might not be aware that their picture is shown on the website. And still having a switzerland group without ties to the website is needed. So I'll create a new group and send out a mail tonight.

[2015-04-17 10:44] MichaelKohler commented on #11
assigning Julian, if he wants to look into it :)

[2015-04-17 10:53] MichaelKohler commented on #30
We still need some tile styling here.

[2015-04-17 11:52] colinfrei commented on #26
I'm not sure an additional group is necessary - it seems like an unnecessary hurdle.
There is already an option in mozillians to decide if you want to share your info with community sites (though with our hacky way of showing images it's true that it's not obvious).

[2015-04-17 12:43] MichaelKohler commented on #30
IMHO just the "Apps made in Switzerland" Tile still needs styling. Otherwise it looks good to me.

[2015-04-17 12:44] MichaelKohler commented on #26
would that also mean that we're gonna ask everyone who wants another gravatar picture to leave the group?

[2015-04-17 12:47] colinfrei commented on #26
Ideally we'll be able to fetch the picture directly from mozillians and don't need to do the workaround.

[2015-04-17 13:52] ioana-chiorean commented on #26
Maybe Tasos or Nemo can help arouns with this?  I am totally || with this.. @MichaelKohler I think u have their contact ..

[2015-04-17 15:27] freaktechnik commented on #23
I think we shouldn't respect FxOS 3.0 compatibility as of yet. When trying to get my minesweeper to work in the 3.0 emulator I looked on mdn, wmo, ddg and google for possible documentations of breaking changes in Firefix OS 3.0. most documentation currently only reaches to 2.3 and doesn't include any notes about breaking changes.

In my case it turned out to be a CSP issue, where the unsafe-inline

[2015-04-17 15:30] freaktechnik commented on #26
We'll be able to fetch the picutres directly, based on each mozillian's privacy setting, with API v2, which isn't publicly available yet. It seems the public launch is being prepared, but I'd expect it to take a while, since they want to deprecate existing keys.

[2015-05-25 10:16] MichaelKohler opened #35 "Check Localizations"
We probably should check FR, IT, RM again to make sure we didn't add new strings. In IT there are some translations missing.

 - [x] FR
 - [x] IT
 - [ ] RM

[2015-05-25 10:24] MichaelKohler commented on #23
Everything mentioned here is implemented.

[2015-05-25 10:24] #23 closed

[2015-05-25 10:32] MichaelKohler opened #36 "Disable Hyphenation"
it just looks weird on most tiles.. we better disable it and style the tiles if necessary.. what do you think?

[2015-05-25 11:00] #30 closed

[2015-05-25 11:07] #36 closed

[2015-05-25 11:13] MichaelKohler commented on #35
I have asked Jean-Yves Perrier and Daniele Scasciafratte to review the FR/IT translations.

@gion-andri could you please do it for RM? :)

[2015-05-25 11:13] MichaelKohler commented on #17
we're currently blocked on Pierros' feedback. let me see what I can do.

[2015-05-25 11:29] MichaelKohler commented on #35
FR is checked and updated.

[2015-05-25 12:01] MichaelKohler commented on #26
Just sent out the information to all "switzerland" group members on Mozillians.org and the mailing list.

[2015-05-25 13:04] freaktechnik commented on #35
IT :white_check_mark:

[2015-05-26 14:35] J0WI commented on #30
@MichaelKohler should i make a pull with https://github.com/mozillacommunitych/mozilla.ch/issues/30#issuecomment-90118925?

[2015-05-26 15:09] MichaelKohler commented on #30
@J0WI since we have less tiles now, I think it's not absolutely necessary.

[2015-06-09 11:35] MichaelKohler commented on #26
we're now using v2, so this isn't a problem anymore

[2015-06-09 11:35] #26 closed

[2015-06-09 11:36] MichaelKohler commented on #17
domain is being transfered to Mozilla, will check with Community IT on the status of the infrastructure

[2015-06-09 11:40] MichaelKohler opened #39 "Twitter feed - to big on mobile"
There are screen sizes where you get caught in the Twitter iframe and you just keep scrolling within the iframe. Maybe we can reduce the height for small devices?

[2015-06-09 13:36] colinfrei commented on #39
I'd love to have that not be an iframe. we have code to fetch the data, we just need to display it nicely (and make sure the code works :))

That would give us more flexibility in how we display, and also have one less external request.
Personally I have a block of white there because I block twitter.

[2015-06-09 17:36] MichaelKohler commented on #33
could we have something like this:
1) if the last tweet contains an image, only show this one
2) if it doesn't show the last two tweets without picture

@colinfrei does the current implementation on the API side provide this information?

[2015-06-09 17:36] MichaelKohler commented on #39
this is a DUPE of #33 anyway, closing this one :)

[2015-06-09 17:36] #39 closed

[2015-06-09 18:38] gion-andri commented on #35
RM :white_check_mark: (in 5ec093069e70a21272314ee12d5d497a0e173862)

[2015-06-09 18:38] #35 closed

[2015-06-11 07:26] colinfrei commented on #33
We cache the last 5 tweets - I assume that includes the all that information. We don't currently download any attached images, that would be an improvement :)

[2015-06-12 11:18] MichaelKohler opened #41 "Puzzle is listed twice"
Gerard's puzzle app is listed twice. We could also link to his new app: https://marketplace.firefox.com/app/grrds-dice

Also the dialog probably needs some more styling, not much though.

[2015-06-12 11:34] freaktechnik commented on #41
he has his 4 in a row listed twice in the marketplace - once as webapp and once as packaged app.

[2015-06-12 11:39] #41 closed

[2015-06-12 11:39] freaktechnik commented on #41
Closing this here, please create a new bug for the styling, as that's a different issue.

[2015-06-12 11:48] freaktechnik opened #42 ""[...] the dialog probably needs some more styling, not much though.""
No idea what @MichaelKohler has in mind, but I closed his issue, since he kind of made an unclear issue, so I've opened a new one for the second part now. (For reference: initiation of this issue was #41)

[2015-07-02 12:45] MichaelKohler commented on #17
we will need a docker container for community it -> @colinfrei do you already have something we could use?

[2015-07-13 08:17] freaktechnik opened #43 "Docker container"
We need a docker container for the hosting at community IT, see #17

[2015-08-04 23:53] J0WI commented on #42
Note that the `<dialog>` element is not officially supported yet: https://bugzilla.mozilla.org/show_bug.cgi?id=840640

[2015-08-05 10:06] freaktechnik commented on #42
@J0WI That's why there is css and other elements shimming some of its functionality.

[2015-08-09 13:17] MichaelKohler commented on #33
who can work on this?

[2015-08-09 13:17] #42 closed

[2015-08-09 13:17] MichaelKohler commented on #43
This docker container will run on mesosphere.com

[2015-08-10 01:19] freaktechnik commented on #43
I've created a [new repo](https://github.com/mozillach/mozilla.ch-docker) for the container build files (Dockerfile and attachments), since we'd always want to build the docker image from a clean clone of this repo and not the local (dirty) copy of it.

Note that it can be used with your local version of the mozilla.ch repo by replacing the git clone instruction by `COPY ../path/to/the/mozilla.ch/

[2015-08-22 11:42] #43 closed

[2015-09-16 12:10] MichaelKohler commented on #17
currently running on my server, but it's online :)

[2015-09-16 12:17] MichaelKohler opened #44 "Footer Logo is not big enough"
mozilla.org:

![screen shot 2015-09-16 at 14 16 05](https://cloud.githubusercontent.com/assets/330324/9904387/a3bf9b22-5c7d-11e5-8115-b94aec111f90.png)

[2015-09-16 12:18] elioqoshi opened #45 "Firefox for Android logo"
The Firefox for Android logo [1] is outdated and it uses the old 2009-2012 Firefox Logo. It should be updated with the [2] image mozilla.org currently uses.

[1]
![ff old](https://cloud.githubusercontent.com/assets/5436686/9904385/a22158be-5c7d-11e5-8165-5b7d9d19ff7e.jpg)

[2]
![fennec](https://cloud.githubusercontent.com/assets/5436686/9904386/a2235f42-5c7d-11e5-8efc-5ffc1cb45b52.jpg)

Further, t

[2015-09-16 12:23] elioqoshi opened #46 "Date Locale resetting to English when changing the URL"
So basically when I change the URL of mozillaCH to let's say "http://mozilla.ch/test"
It brings me to the same homepage as "http://mozilla.ch/de" yet the date locale stays english

![mozillach](https://cloud.githubusercontent.com/assets/5436686/9904504/8d5e1d44-5c7e-11e5-8875-609ddf0ad41d.jpg)

[2015-09-16 12:29] elioqoshi commented on #46
While we are at this, it's also "Näshtes Event", not "Nächster Event"

[2015-09-16 12:34] elioqoshi opened #47 "Webmaker Logo"
Similar to this issue:
https://github.com/mozillach/mozilla.ch/issues/45

The Webmaker [1] logo used here is the old one, mozilla.org uses the new Webmaker [2] logo and this should also reflect here.

[1]
![webmakerold](https://cloud.githubusercontent.com/assets/5436686/9904695/04b02580-5c80-11e5-9799-99715b240a2f.jpg)

[2]
![webmakernew](https://cloud.githubusercontent.com/assets/5436686/9904693/

[2015-09-16 12:35] freaktechnik commented on #44
The size of the element is correct, we need to trim the svg.

[2015-09-16 12:37] freaktechnik commented on #46
@elioqoshi http://www.duden.de/rechtschreibung/Event <- der oder das.

[2015-09-16 12:39] freaktechnik commented on #45
Yes, the "promo" widgets are hidden when we have little horizontal space, to save vertical space. There are other widgets disappearing depending on the width, too.

[2015-09-16 12:45] elioqoshi commented on #45
Makes sense!

[2015-09-16 12:46] elioqoshi commented on #46
Beat me to it! I never encountered someone in Germany saying Der Event though. Might be different in Switzerland.

[2015-09-16 13:01] freaktechnik commented on #45
Should we use the jpg version you uploaded, or is there a better source (svg, just the dude)?

[2015-09-16 13:09] #47 closed

[2015-09-16 13:22] freaktechnik commented on #46
@colinfrei can we do anything about this, or is this just a symphony routing issue combined with the twig formatting?

[2015-09-16 13:23] colinfrei commented on #46
maybe the default language is en in the app/config/parameters.yml file?

[2015-09-16 13:24] freaktechnik commented on #46
we have a key `locale` set to `de` in there, which is why it picks the german strings. But it doesn't redirect to /de.
Edit: maybe the php intl plugin has its own fallback language setting?
Edit2: yep, apprently http://php.net/manual/en/intl.configuration.php#ini.intl.default-locale. It's probably falling back to that setting.
Edit3: @colinfrei does app.request.locale not default to de and will al

[2015-09-16 14:29] elioqoshi commented on #45
Try to get it from the mozilla.org website, that should suffice

[2015-09-16 14:31] freaktechnik commented on #45
The version I get there is pretty small, compared to what you have in the jpg. I'd guess that's a retina version?

[2015-09-16 19:58] #44 closed

[2015-09-16 20:07] elioqoshi commented on #45
I just zoomed in and made a screenshot, soo :)

[2015-09-16 20:26] #45 closed

[2015-09-16 21:04] J0WI opened #48 "Favicon"
We haven't a favicon yet.
The Mozilla [m] might be problematic.

Any suggestions?

I would like to support the [SVG favicon] (https://bugzilla.mozilla.org/show_bug.cgi?id=366324) feature.

[2015-09-16 21:15] J0WI commented on #17
http://mozilla.ch/ points now to @MichaelKohler's server. \o/
The performance is terrible, when the page isn't cached and we still have no https.

[2015-09-17 04:46] freaktechnik commented on #48
See also issue mozillach/mozillach_branding#1. Further that's just the same favicon as mozilla.org for now.

[2015-10-03 14:22] MichaelKohler opened #50 "BÜPF/NDG Tile"
Instead of the Hello one for now. Links to a modal dialog with more information and further links.

[2015-10-03 15:53] freaktechnik commented on #50
I can help with the setup of the "modal" popup.

[2015-10-04 00:26] J0WI commented on #50
Created WIP branch.
We need an image/symbol for the NDG tile (camera?, eye?, NSA?)

[2015-10-04 10:07] MichaelKohler commented on #50
I'd go for the camera or the eye

[2015-10-13 22:09] J0WI commented on #50
Okay, the Unicode chars for camera are horrible:
🎥📹📸📷
The eye (👁) doesn't look good in the Mozilla font.

I'll look for an SVG.

[2015-10-13 22:24] J0WI commented on #50
https://upload.wikimedia.org/wikipedia/commons/7/72/Cctv.svg
https://openclipart.org/download/167030/cctv-simbolo.svg
https://openclipart.org/download/161083/cctv.svg
https://openclipart.org/download/189232/1385784407.svg

all of them are CC0

[2015-10-13 22:27] MichaelKohler commented on #50
I like the first one best, the question now is if we should do a yellow tile.. mmh.

[2015-10-13 22:43] J0WI commented on #50
We can modify the image and extract the camera. I used the color from https://www.nachrichtendienstgesetz.ch/, but this is irrelevant since there are multiple platforms.
(=> Which platform should we support?)

[2015-10-27 21:00] MichaelKohler commented on #50
let's go with nachrichtendienstgesetz.ch and http://stopbuepf.ch/ for now

[2015-10-28 23:28] J0WI commented on #50
Where can I find the improved SVGs from Mozilla Day?

[2015-10-29 19:34] MichaelKohler commented on #50
sent out a mail to Marco to ask if he can upload it somewhere

[2015-11-01 14:40] MichaelKohler commented on #50
Voila, https://owncloud.michaelkohler.info/index.php/s/XjDAmcsRem2I4bW

Please note that we won't be able to use the mozilla wordmark ones, since those are not based on the branding font, but Fira Sans.

[2015-11-01 15:57] J0WI commented on #50
"Überwachungsstaat" is to long for a portrait

[2015-11-01 16:08] freaktechnik commented on #50
`Üb<wbr>er<wbr>wach<wbr>ungs<wbr>staat`

[2015-11-01 16:10] J0WI commented on #50
`hyphens: auto` or at least `&shy;`
But these are ugly solutions

[2015-11-01 16:40] freaktechnik commented on #50
Uh, yeah, I mean `&shy;`.

[2015-11-01 19:39] ghost commented on #50
Beware of [Mister Duden](http://www.duden.de/rechtschreibung/Ueberwachungsstaat). He begs to differ on the hyphenation:
- Über|wa|chungs|staat

So we would most likely want to use something along the lines of
- <code>&amp;Uuml;ber&amp;shy;wa&amp;shy;chungs&amp;shy;staat</code>

[2015-11-19 11:26] J0WI commented on #50
ToDo:
- [x] Translation (needhelp @gion-andri)
- [x] Dialog Box (needhelp @freaktechnik)
- [ ] consider new tile color, because it looks weird in combination with the green tiles from Mozilla

[2015-11-19 12:10] freaktechnik commented on #50
Re dialog box:
It needs markup similar to https://github.com/mozillach/mozilla.ch/blob/master/app/Resources/views/index.html.twig#L214-L244. Make sure to change the ID of the overlay. Not sure if there are any styles specific to that id - if there are we should probably consider making an "overlay" class.
It seems like we'd also want to generalize the close button.

Setting it up is as easy as add

[2015-11-20 21:24] J0WI commented on #50
@freaktechnik I tried to use the same dialog box for ndg and ch-apps, but won't work for me. Now I have everything twice, would be great if you could help merging them.

@MichaelKohler referring to our meetup you will provide a text for the box :)

[2015-11-20 21:26] freaktechnik commented on #50
@J0WI there is no reason to merge them, all we could do is to have two containers that are hidden depending on what we need, but I'm not sure that saves much.

[2015-11-26 00:49] J0WI commented on #50
_poke_ @MichaelKohler

[2015-11-26 23:15] MichaelKohler commented on #50
I know, I know.. here are the German and English texts, sorry for the delay.

**DE:**
_Die Sicherheit und der Schutz der Daten einer Person im Internet sind von grundlegender Bedeutung und dürfen nicht als optional betrachtet werden._
- Mozilla Manifesto (https://www.mozilla.org/de/about/manifesto/)

Mozilla steht für die Privatsphäre aller Internet-Benutzer ein. Dies ist tief in unserem Manifesto

[2015-11-26 23:15] MichaelKohler commented on #50
Change in plans: let's go for http://nachrichtendienstgesetz.ch/ and http://ndg-referendum.ch/ .. not büpf, we can do that later..

[2015-11-26 23:26] Mte90 commented on #50
In Italian:

Mozilla tutela la privacy di ogni persona su internet. Questo é definito nel nostro manifesto. Dopo molte iniziative sulla privacy in USA, India, Francia e Germania, ora é il momento di sostenere il referendum contro una riforma della legge sullo spionaggio. La community Svizzera di Mozilla chiede ad ogni utente di internet di informarsi sulla riforma e firmare il referendum.
Puoi tro

[2015-11-26 23:48] J0WI commented on #50
Thanks! I just updated the text.
I'll add some CSS soon.

Maybe @teoli2003 could translate to FR?

[2015-11-27 00:08] J0WI commented on #50
who likes to review?

[2015-11-27 00:22] MichaelKohler commented on #50
Why is one URL translated and one is not? there is a FR link as well for the second one. Code looks good to me otherwise. Visual review coming up in a few minutes

[2015-11-27 00:37] MichaelKohler commented on #50
Great work so far!
- can we move the "Nein zum Überwachungstaat" text a little bit up to create more space between the text and the camera?
- maybe we could have the same margin as the blockquote for text as well?
- The links are not prominent enough.. could we make bigger boxes and display them inline and centered?

![screen shot 2015-11-27 at 01 34 17](https://cloud.githubusercontent.com/assets/

[2015-11-27 00:40] MichaelKohler commented on #17
Will talk to Community IT during the next Work Week about this.. this will happen the week of Dec 7

[2015-11-27 01:20] J0WI commented on #50
Implemented all your feedback.
Links are now styled as boxes similar to the 'sign now' box on nachrichtendienstgesetz.ch

[2015-11-27 01:27] J0WI commented on #50
I just opened PR #51 to discuss the review stuff

[2015-11-27 06:41] teoli2003 commented on #50
Something to translate in fr? The string + url looks ok in PR 51 (but I may have missed some text)

[2015-11-27 09:42] MichaelKohler commented on #50
@teoli2003 that would be https://github.com/mozillach/mozilla.ch/blob/NDG/app/Resources/translations/messages.fr.yml#L56 and https://github.com/mozillach/mozilla.ch/blob/NDG/app/Resources/translations/messages.fr.yml#L58 .. (that is the "NDG" branch, not the master branch) .. would be great if you could do that! :)

[2015-11-30 13:14] freaktechnik commented on #50
#51 is merged to master. Are all translations in?

[2015-11-30 13:17] MichaelKohler commented on #50
Apart from RM I'd say so.. I will need a tutorial on how to deploy to the server as well ;)

[2015-11-30 18:09] J0WI commented on #50
@MichaelKohler just do `git pull`
or rebuild your docker image

[2015-11-30 19:58] freaktechnik commented on #50
there are no new dependencies so there should be no real "deployment" in the form of reinstalling deps needed, right? But you might be able to use this deployment thing that's already built in in the template from @colinfrei

[2015-12-02 23:46] MichaelKohler commented on #50
I deployed and verified the source code. It is the new version. Then I cleared the cache (both with `rm -r app/cache/*`and via the `console` utility). Verifying that step proves that the cache folder is now empty. Nevertheless the cache gets rebuilt with an old version. Is there any other cache or what am I doing wrong? @colinfrei can you help here?

[2015-12-03 09:15] MichaelKohler commented on #50
it's deployed now. Great work everybody!

[2015-12-03 09:15] #50 closed

[2015-12-03 09:22] #22 closed

[2015-12-03 09:22] MichaelKohler commented on #48
Who wants to move this forward?

[2015-12-03 09:23] MichaelKohler commented on #33
We would still take a custom Twitter tile instead of the normal Twitter one ;)

[2015-12-03 23:14] ghost commented on #48
If only github supported SVG attachments. (_sigh!_)
It won't even let me attach it compressed as a ZIP.

How about <a href="http://marco.dilbert.ch/mozilla.ch_favicon.svg">this one</a>? It looks okay, even at <a href="http://marco.dilbert.ch/mozilla.ch_favicon_test.htm">16x16px</a>.
Any suggestions? Ideas?

[2015-12-04 12:37] #46 closed

[2015-12-04 19:07] MichaelKohler commented on #48
This is a great idea, I like it. But I guess we'd want to use the "m" from the logo?

[2015-12-04 19:09] MichaelKohler opened #53 "Link to "Contribute" (EN string) is wrong"
Currently the "Contribute" link is pointing to contribute.mozilla.org . www.mozilla.ch/en

The contribute.mozilla.org subdomain now links to mozilla.org and not to the contribute form anymore..

--> The link should point to mozilla.org/contribute

[2015-12-04 19:43] ghost commented on #48
Are you referring to the large "m" from "mozilla.ch"?
16x16px won't leave us too much room for variations,
but I'm generally open for any kind of suggestions.

Legibility and recognition might be the most important
factors here. Is the title font from mozilla.ch safe to use?
I don't want to attract the wrath of some design copyright
holder.

Do you have any preferences regarding the colors?
I thin

[2015-12-04 19:47] MichaelKohler commented on #48
Yes, the "m" from http://mozilla.ch/images/mozillach_wordmark-white.svg . I think it's okay to extract it from there, as long as we're using it for the purpose of mozilla.ch.

Regarding the color, in theory it's okay to use any color. I agree with the red of the banner and the white of the cross. Could you upload one with the "m" being #FF9500? I'd go with one of those colors listed here: https://

[2015-12-04 19:55] J0WI commented on #48
Or we use one of the colors from the bottom of mozilla.ch?

[2015-12-04 19:56] MichaelKohler commented on #48
mh, those are dynamic, we would need to pick one that is on the page all the time and then make sure we don't remove it.

The goal here is to also use this as a Twitter Avatar as far as I know. This might need to be taken into consideration as well I guess.

[2015-12-04 20:00] J0WI commented on #48
Sure. In this case «Mozilla» should be more prominent than «Switzerland».

[2015-12-05 17:07] ghost commented on #48
Ok, I've updated the <a href="http://marco.dilbert.ch/mozilla.ch_favicon_test.htm">samples and icons</a>. The new "m" is more recognizable.
I think yellow looks better than light orange, though. The contrast was better.
Where do you think the cross should go? Left? Right? Or somewhere else?

[2015-12-05 17:18] MichaelKohler commented on #48
I agree, the yellow looks better. Great work so far!

Here are my suggestions:

http://codepen.io/anon/pen/xZxJJX

http://codepen.io/anon/pen/PZoBBL

[2015-12-05 18:42] ghost commented on #48
Yay! The cross on the right seems more natural. And the white "m" looks good, too. :+1:
I've made <a href="http://marco.dilbert.ch/mozilla.ch_favicon_test.htm">another few slight adjustments</a>. Some thoughts for a final design:
- The 16x16px favicon will almost certainly need some manual overhaul.
- For larger representations we may need to tune the "m" (ours is heavily simplified).
- We may sti

[2015-12-06 13:03] freaktechnik commented on #48
This looks really nice and I'd say the 16px variant untweaked is passable, but I guess we can get more out of it.

[2015-12-06 22:37] ghost commented on #48
Ok, here comes <a href="http://marco.dilbert.ch/mozilla.ch_favicon_test.htm">another update</a>. This time please focus on the different colors. I had to ditch the pixel-alignment idea, though. Whenever it looked great in 16x16, the bigger sizes sucked (and vice versa).

[2015-12-07 00:08] freaktechnik commented on #48
The violet doesn't have enough contrast and the green looks weird (probably because of the red-green combination).

[2015-12-08 21:57] ghost commented on #48
Let's drop violet (there may be hope for green, though). I've prepared <a href="http://marco.dilbert.ch/mozilla.ch_favicon_test.htm">another update</a> with fewer colors.
Any favorites?

The 16x16px problem is solved, too. Clear your browser cache and check the favicon of the link above.

We may want to design larger logos (Twitter Avatar?) in a separate ticket. A one-size-fits-all solution doesn'

[2015-12-08 23:01] freaktechnik commented on #48
I'd say those larger version belong to the branding ticket (mozillach/mozillach_branding#1). In terms of colors I feel like all of them are acceptable, but they are for sure not equal on what the logo says.

[2015-12-22 17:41] J0WI opened #54 "mozorg.cdn.mozilla.net deprectaed?"
Die Ressourcen von mozorg.cdn.mozilla.net laden bei mir nicht mehr (403).
Müssen wir mozorg.cdn.mozilla.net mit mozilla.org ersetzten?

@MichaelKohler @freaktechnik?

[2015-12-22 17:43] J0WI opened #55 "Firefox for iOS tile"

[2015-12-22 18:16] freaktechnik commented on #54
It seems tabzilla is now to be loaded as dependency of the project: https://github.com/mozilla/tabzilla/
EDIT: I assume resources were move to mozilla.org for http/2 optimization.

[2015-12-22 19:13] freaktechnik commented on #54
Okay, I've checked every resource from mozorg.cdn.mozilla.net and they all still exist on www.mozilla.org. We might still want to think about using our own jquery and tabzilla, maybe even our own OpenSans. I've pushed 3865a84 that replaces all occurrences.

[2015-12-25 15:06] MichaelKohler commented on #48
I'd vote for the yellow one. Other thoughts?

[2015-12-25 15:09] #53 closed

[2015-12-25 15:21] MichaelKohler commented on #54
the CDN is back again, but I deployed freaktechnik's change as well

[2015-12-25 15:21] #54 closed

[2015-12-25 15:22] MichaelKohler commented on #55
Let's implement this as a small tile (similar to the Android one). Good idea!

[2015-12-25 15:47] J0WI commented on #54
Is there any statement from Mozilla which services are deprecated and what the best practise is?

[2015-12-25 15:55] J0WI commented on #48
yellow is to similar to Post for me, I like the white one.

Note that the colors will look very different in context of a (dark/light theme) tab. So I recommend to use simple items and good contrasts.
e.g. the Swiss cross is not really visible on my display here.

[2015-12-25 16:54] MichaelKohler commented on #54
Didn't see anything, but as long as we can use mozilla.org the same way, we should be fine. Might also just have been a problem on the CDN. Let's leave it like that and once we move to Community Ops servers we might need to reevaluate anyway.

[2015-12-25 19:24] freaktechnik opened #56 "Outsource JS dependencies"
We currently use a few JS libraries. Some of them are directly included within the repo, and some we use from Mozilla. We should think about loading them via composer.

We could load the following libraries via bower
 - desandro/masonry
 - freaktechnik/minimal-overlay
 - mozilla-tabzilla

I'm not sure we'd still need jQuery with those. If only our scripts use it, we could also look into components

[2015-12-25 22:12] MichaelKohler commented on #56
Makes totally sense. Let's go for it!

If we still need jquery, we should use from either mozilla.org or the CDN to make sure that it's cross-cacheable, so we don't need to serve it when users already visited mozilla.org.

Maybe @colinfrei can give a hint regarding the technical implementation (assetic and everything else)?

[2015-12-26 07:56] colinfrei commented on #56
bower is js, composer is php. that said, there are a bunch of composet packages that allow including js libraries, though I'm not sure that's the way to go.

Maybe just have the bower install script be part of the deployment, and make it install to the web folder?

[2015-12-26 10:19] freaktechnik commented on #56
I think https://packagist.org/packages/sp/bower-bundle is not too far off. It would allow us easy use of bower, since it claims to handle all the install steps via composer, which we already properly support with both the docker container and the other deployment method. I think this would also avoid having to temporarily install node etc. in the docker container just to load the bower packages.

[2016-01-01 22:55] #55 closed

[2016-01-01 23:23] J0WI opened #57 "Get Smart On the Web"
There is an interesting campaign we should take part of on mozilla.ch.

The old campaign for private browsing seems to be obsolete, I updated the url in https://github.com/mozillach/mozilla.ch/commit/b298d185762c7bce1bf6371c32c75d313092159e

https://www.mozilla.org/teach/smarton/surveillance/
Fits perfectly to NDG/BÜPF

https://www.mozilla.org/teach/smarton/tracking/
Fits to Tracking Protection

h

[2016-01-04 13:24] freaktechnik commented on #34
For page-speed we should probably consider sending a Last-Modified based on the last update to the reps event calendar (and eventually twitter). Not sure if this data is easily available, though. We currently tell the client not to cache the site.

[2016-01-19 19:05] nckappeler opened #58 "firefox-logo.png img source wrong"
view-source:http://mozilla.ch/de @line:68
the image source is rendered as "https://wwww.mozilla.org/media/img/home/voices/promos/download-firefox/firefox-logo.png" but in the template it seems to be ok @app/Resources/views/index.html.twig

[2016-01-19 19:09] lkappeler commented on #58
just seen https://github.com/mozillach/mozilla.ch/commit/c119c4b68925a26447b9496855d1a0773f4f7406

[2016-01-19 19:09] #58 closed

[2016-02-07 14:36] MichaelKohler opened #59 "Wrong event date"
Our event widget always shows the current date twice (for now this is 7th instead of 9th for the event).

![screen shot 2016-02-07 at 15 35 55](https://cloud.githubusercontent.com/assets/330324/12872916/948618d0-cdb0-11e5-9505-ef79194dcaa5.png)

[2016-02-07 14:37] MichaelKohler opened #60 "Finish Docker image so we can deploy it through Community IT"
We need to get our Docker image finished so we can give it to Community IT to deploy it.

@freaktechnik what's the current status here?

[2016-02-07 14:38] MichaelKohler commented on #57
Sounds good to me, do we want to create a tile for it?

[2016-02-07 14:43] MichaelKohler opened #61 "Clean up our tiles"
I would suggest the following (also due to recent announcements):

Add:
* SmartOn tile (as proposed by @J0WI in #57)
* There is a new MDN-Tile on mozilla.org, do we want to add this as well?

Delete:
* Firefox Marketplace
* Firefox OS
* Firefox OS Apps in Switzerland (maybe replace it with Firefox Add-ons that are from Switzerland?)
* Independent (I'm sure we have other good tile ideas for now to

[2016-02-07 14:54] MichaelKohler commented on #17
We have a "GO" for the pilot phase for Mesosphere (or whatever they are using now).

[2016-02-07 15:04] freaktechnik commented on #61
Whatvwill take the place of the CH Apps tile? It's quite a lot of space.

[2016-02-07 15:04] J0WI commented on #57
Do we want 3 random tiles for each or just one meta tile?

[2016-02-07 15:05] MichaelKohler commented on #57
One meta tile should be enough

[2016-02-07 15:05] freaktechnik commented on #60
It works, I've set it up on the box you provided me earlier. I also expanded the readme of the docker repo with more specific explanations.

[2016-02-07 15:05] J0WI commented on #61
- Update text for the NDG tile

[2016-02-07 15:06] MichaelKohler commented on #61
I think if we reorder a few of them, we can better distribute the space and have some bigger tiles for more important ones. I don't think we need another big one like that.

[2016-02-07 15:11] MichaelKohler commented on #60
Great, this is running on http://46.101.156.191/de then .. I will let the DNS point to that IP then for now so I can remove my server. Is that okay?

Great work!

[2016-02-07 15:15] MichaelKohler commented on #17
According to https://github.com/mozillach/mozilla.ch/issues/60 we're finished here. Let me get in touch with the necessary people to get this deployed.

[2016-02-07 15:19] J0WI commented on #61
s/Apps/Add-ons/ ?

[2016-02-07 15:28] freaktechnik commented on #60
That sounds like a good plan. I'd still like an answer to the API key question, since that effectively blocks proper deployment on mesos. We will also have to figure out "deployment" will work for us.

[2016-02-07 15:33] MichaelKohler commented on #61
@J0WI do you mean Firefox Add-ons? The OS ones have about the same state as apps for now.

[2016-02-07 15:35] J0WI commented on #61
Yes, I meant Firefox/Thunderbird Add-ons.
We should prefer the new web extensions here.

[2016-02-07 15:35] MichaelKohler commented on #17
TODO here:
- Get in touch with the team
- Ask about Mozillians API key (how will this be handled?)
- Ask about Deployment from our side
- Ask about timeline (and let point mozilla.ch to 46.101.156.191 in case it's too long)

Repo with the docker image: https://github.com/mozillach/mozilla.ch-docker

[2016-02-07 15:36] MichaelKohler commented on #60
Perfect, let's close this one then :)

[2016-02-07 15:36] #60 closed

[2016-02-07 15:37] MichaelKohler commented on #61
That would be one possibility. I've added this as question to the top comment.

[2016-02-07 16:15] #59 closed

[2016-02-07 20:28] MichaelKohler commented on #17
"20:57:55 @yalam96 mkohler, can i get a link to the repo?
20:58:11 <mkohler> yalam96: https://github.com/mozillach/mozilla.ch-docker
21:01:11 @yalam96 mkohler, can you also email me your mozillians api key
21:04:49 <mkohler> yalam96: sent
21:05:40 <mkohler> yalam96: the other question then would be on how we would push updates
21:09:57 @yalam96 mkohler, right now it will have to be manual since we

[2016-02-08 18:38] MichaelKohler commented on #17
Looks like the API key is no problem. Regarding timeline: Seems like we can do  this pretty fast, but we need to fix a few failures first ;) It's currently up here: https://mozillach.paas.mozilla.community/

Let me file a few followup bugs in the docker repo.

[2016-02-11 19:15] MichaelKohler commented on #17
Now covered by https://github.com/mozillach/participation/issues/16

[2016-02-11 19:15] #17 closed

[2016-02-25 21:02] MichaelKohler commented on #61
I have updated the tiles, it now has only up-to-date tiles and 2 new ones. This is all in the "update_tiles" branch for now, until I got feedback on this. Any improvement ideas? Other feedback?

![screen shot 2016-02-25 at 21 55 48](https://cloud.githubusercontent.com/assets/330324/13334198/20f21a54-dc0b-11e5-91a8-a1d3871833b6.png)

I have also updated the NDG text in EN and DE, this will need upd

[2016-02-25 21:04] MichaelKohler opened #63 "Add GitHub issues to mozilla.ch"
Do you think it would make sense to add a list of the issues from https://github.com/mozillach/participation/issues to the website itself so people can see how they could get involved in the local community? I would really love to have this to make people aware of that.

Maybe we could only list the "Good Volunteer Task" ones and link to the github repo as well where you can see all of them?

Any

[2016-02-25 21:11] MichaelKohler commented on #57
I did this as part of #61 . Pretty nice and definitely needed for our website, great idea!

Let's continue the discussion there.

[2016-02-25 21:11] #57 closed

[2016-02-25 21:15] MichaelKohler commented on #48
Any objections to go with http://marco.dilbert.ch/favicon_white.svg in that case?

[2016-02-25 21:15] teoli2003 commented on #61
I will, though I'm traveling and therefore I can't before Monday :-(

I've added an action item to my todo list though.

On 25/02/2016 22:02, Michael Kohler wrote:

##

"Prenez soin des minutes, les heures prendront soin d'elles-mêmes."
P.D. Stanhope (4e baron de Chesterfield, 1694-1773)

[2016-02-25 21:15] MichaelKohler commented on #56
@freaktechnik do you still want to pursue this?

[2016-02-25 21:19] MichaelKohler commented on #34
I just did a quick search on Google:

"mozilla switzerland": no mention on the first page
"mozilla schweiz": first result
"mozilla suisse": mozilla-ch.colinfrei.com/fr is in there, but not mozilla.ch -> we definitely need to fix this!
"mozilla svizzera": 8th place
"mozilla svizra": 2nd place, though "grrd's 4 in a Row - mozilla.ch" might not be a perfect title ;)

We should look into that :( Any v

[2016-02-25 22:45] freaktechnik commented on #63
I think going from "I want to participate" to github issues is pretty steep. But I agree that we should at least have some kind of reference to it, since it's one of the best documentations of what the community is up to so far.

[2016-02-25 22:47] freaktechnik commented on #48
I'm totally fine with that.
@DocZweirad do you want to make minor adjustments to it for mozillach/mozillach_branding#1 so we can also use it as an avatar all over the place or do you think it's fine like this.

[2016-02-25 22:49] freaktechnik commented on #56
Sure, I'll have to look into what's the best solution given our deps and how to handle it with our current docker container build steps, but it should be doable ;)

[2016-02-25 23:04] lkappeler commented on #63
Maybe linking the waffle board https://waffle.io/mozillach/participation would kind of give a better overview than the flat list on github. This could also be combined with the Idea to list only the "good Volunteer" tasks in a separate board or link with a pre set filter

[2016-02-26 10:02] ghost commented on #48
@freaktechnik:
Actually, it's the other way round (already ok for the avatar). ;-)

It's the favicon version that still needs some minor tweaking.
In order to make the used symbols easier to recognize, I'd go
for something like this: http://marco.dilbert.ch/favicon_dev.svg.
(The grid is actually just for demonstrating the pixel alignment.)

[2016-02-26 13:31] MichaelKohler commented on #48
That is better recognizeable. Do we want to go ahead with that?

[2016-02-26 17:58] J0WI commented on #34
I got mozilla.ch as the first result on DDG with region enabled, except for the Italian ones.
@colinfrei should serve a `X-Robots-Tag: noindex` header.

[2016-02-26 20:59] freaktechnik commented on #48
Should be fixed with #64 and 6c7d720ae9b26ed1a931450cb1c0efe645bef908.

[2016-02-26 20:59] #48 closed

[2016-03-02 12:14] freaktechnik opened #65 "Use our own Open Sans"
Getting the Open Sans from Mozilla doesn't work anymore, at least for the file we're trying to get. We should use our own Open Sans.

Update: sometimes it also gets rejected due to CORS. In the end self-hosting will make this way simpler and also allow us to improve our CSP.

[2016-03-02 14:13] freaktechnik commented on #56
Moving away from the old tabzilla to the new one (which is just a link with defined styling) breaks how our l10n detection system currently works (the little "do you want to change your language" thing on the top). @colinfrei could we replace that with server-side language detection in the router?

[2016-03-02 14:23] freaktechnik commented on #56
If we want to get rid of jQuery someone would have to rewrite the mobile menu code, btw.

[2016-03-02 14:26] freaktechnik commented on #56
See the [js-deps branch](https://github.com/mozillach/mozilla.ch/tree/js-deps) for the current WIP.

[2016-03-09 16:17] MichaelKohler commented on #61
Any update on this? Or could this be merged once translated?

@teoli2003 @Mte90 @gion-andri quick ping for translation here. Would be great if you could support us here :)

[2016-03-09 23:24] J0WI commented on #34
Thoughts about open graph?
AKAIK it's not yet an official standard.

[2016-03-09 23:26] MichaelKohler commented on #34
As long as it helps us, sure, why not :)

[2016-03-09 23:46] J0WI commented on #34
Added Site title in d33e58a.
I think mozilla.org is a good hint for what is needed for open graph.

@MichaelKohler would you like to write a short description of Mozilla Switzerland?

[2016-03-09 23:49] MichaelKohler commented on #34
Mozilla Switzerland is a volunteer run organization engaged in promoting openness, innovation, and opportunity on the Web in the country. Mozilla Switzerland is part of the global community of Mozilla Foundation.

[2016-03-09 23:55] J0WI commented on #34
Thanks!
Ping @teoli2003 @Mte90 @gion-andri for help to translate.

[2016-03-10 07:19] freaktechnik commented on #34
What kind of microdata are you thinking of? We should already have 'organization' micro data embedded into the page around the footer area.

[2016-03-10 09:31] Mte90 commented on #34
Mozilla Switzerland é una organizzazione di volontari che si occupa di promuovere apertura, innovazione e opportunitá nel Web nel suo paese. Mozilla Switzerland é parte di una community globale della Mozilla Foundation.

Italian is here :-)

[2016-03-10 09:32] Mte90 commented on #61
I look on that asap!

[2016-03-13 13:45] MichaelKohler commented on #61
Maybe @gperriard could help out with the French translation here? The goal is to have the new English string here https://github.com/mozillach/mozilla.ch/blob/tiles_update/app/Resources/translations/messages.en.yml#L52 translated to FR in https://github.com/mozillach/mozilla.ch/blob/tiles_update/app/Resources/translations/messages.fr.yml#L53 (please notice the different branch name, this is not ma

[2016-03-13 15:49] gion-andri commented on #61
In my opinion, you don't have to block on the rm translation in such cases.

[2016-03-13 15:53] teoli2003 commented on #61
Hi!

I may look at the wrong place, but messages.en.yml#L52 is already
translated in messages.fr.yml#L53…

##

Jean-Yves Perrier
Senior St. Project Manager, Developer Documentation / MDN

On 13/03/2016 13:45, Michael Kohler wrote:

[2016-03-13 16:03] MichaelKohler commented on #61
Sorry, I was not specific enough. The initial string was translated, but I have updated it and need a retranslation of it.

[2016-03-13 16:10] teoli2003 commented on #61
Ha!

PR in. Sorry for being blind.

##

Jean-Yves Perrier
Senior St. Project Manager, Developer Documentation / MDN

On 13/03/2016 16:03, Michael Kohler wrote:

[2016-03-13 16:20] MichaelKohler commented on #61
Thanks everyone, the IT translations need another update, but we will create a second issue for this, so we can close this. Merged to master.

[2016-03-13 16:20] #61 closed

[2016-03-13 16:22] freaktechnik opened #68 "Update ndg.desc for italian"
The description string was changed to add more specific information that it will b ehappening in september. The italian translation isn't updated yet. See https://github.com/mozillach/mozilla.ch/blob/master/app/Resources/translations/messages.en.yml#L53

Can you help there @Mte90 ? Thanks!

[2016-03-13 16:27] gion-andri commented on #34
Romansh:

Mozilla Svizra è ina organisaziun manada da voluntaris ed engaschada per promover l’avertadad, l’innovaziun ed las pussaivladads en il web per noss pajais. Mozilla Svizra fa part da la communitad globala da la Mozilla Foundation.

[2016-03-13 16:35] MichaelKohler opened #69 "Make the NDG overlay prettier"
- [x] Make quote prettier
- [x] Remove https:// from URL

[2016-03-13 17:13] freaktechnik opened #70 "Replace affiliates with friends like on mozilla.org"
Our footer currently links to affiliates.mozilla.org, which redirects to Firefox Friends already. We should update the text and link (https://www.mozilla.org/en-US/contribute/friends/) to match mozilla.org.

[2016-03-13 17:15] freaktechnik opened #71 "Update contribute to this page link"
We still use a link to mozillacommunitych instead of mozillach for the contribute to this page link. I don't know how long github keeps username redirects, but it's probably not forever.

[2016-03-13 17:23] freaktechnik opened #72 "Update donation link"
We currently use sendto.mozilla.org as the target of our donation link, but it seems donation infrastructure has been moved to donate.mozilla.org. We should change the link to something like https://donate.mozilla.org/?currency=chf for best user experience.

[2016-03-13 18:41] #70 closed

[2016-03-13 18:42] #71 closed

[2016-03-13 18:52] #72 closed

[2016-03-13 18:58] MichaelKohler commented on #69
Not perfect yet, since we're losing the quotes, but definitely better in terms of font size and alignment.

[2016-03-13 18:58] #69 closed

[2016-03-13 19:01] #11 closed

[2016-03-13 19:35] freaktechnik opened #73 "Add a list of upcoming events if there's more than one"
Sometimes we have more than just one upcoming event within just a few days. With the romandie being built as a second leg to the community I doubt that'll decrease much. We should consider adding some way to view a list of all upcoming events in Switzerland.

[2016-03-14 10:34] Mte90 commented on #68
Done https://github.com/mozillach/mozilla.ch/pull/74

[2016-03-14 11:13] #68 closed

[2016-03-17 15:41] J0WI commented on #34
Enabled caching and compression in https://github.com/mozillach/mozilla.ch-docker/commit/79c1a51874a5b747ff930a8817ee8b3217ee70d6.
But our slowest part is still the Twitter iframe.
@freaktechnik Could we also load our JS resources asynchronous by adding the async attribute?

[2016-03-17 16:53] freaktechnik commented on #34
I'd have to look into what we can load when (be it defer or async). However I'll do that work for the js deps branch where there is no more tabzilla to worry about.

[2016-03-17 17:47] J0WI opened #75 "Handle composer updates"
We should remove composer.lock from the repo in favour of keeping composer.json up to date.
The packages won't be updated inside the Docker container anyway.

[2016-03-17 17:48] MichaelKohler commented on #75
Without actually knowing composer that well, I'd say go for it :)

[2016-03-17 17:53] J0WI commented on #34
Microdata would be also interesting for the events tile

[2016-03-17 21:39] freaktechnik commented on #75
The reson there is a composer.lock is to create a fixed and reproducable production environment. This means no random breakage because a package decides to update. Since we would have to somehow trigger a rebuild of the container either way I see nothing wrong with having to update the composer.lock to create a new version.

[2016-03-17 21:57] MichaelKohler commented on #75
In that case my question is: do we have somebody to keep the sources up to date? If so, perfect!

[2016-03-24 15:59] J0WI opened #76 "replace NDG with BÜPF during the referendum"
We need to update the text a bit a change the links to the BÜPF site(s).

Links will be https://www.buepf.ch/ and https://www.lscpt.ch/

[2016-04-02 07:00] MichaelKohler commented on #76
@J0WI can you do that? English and German would be good to have at first. Then we can ask Geoffroy or Jean-Yves for French.

[2016-04-13 23:01] J0WI commented on #76
@MichaelKohler I'm quite busy at the moment. Could you provide a short text? I can implement it then.

[2016-04-15 10:16] MichaelKohler commented on #76
Thanks for driving this, I will provide the text during the weekend.

[2016-04-22 17:19] J0WI commented on #76
_ping_ @MichaelKohler

[2016-04-23 11:01] MichaelKohler commented on #76
sorry about that, busy me ;)

Deutsch:

Mozilla steht für die Privatsphäre aller Internet-Benutzer ein. Dies ist tief in unserem Manifesto verankert. Nach diversen Privatsphäre-Initiativen in anderen Ländern und unseren Initiativen betreffend des NDG-Referendums, welches im September zur Abstimmung kommt, gibt es Weiteres für uns zu tun.

Bis am 7. Juni läuft die Frist für das Referendum gegen die

[2016-04-24 00:54] J0WI commented on #76
Feel free to replace `surveillance-laws` with a better name.
I didn't remove the ndg strings, because we may reuse them during the votes.

[2016-04-24 11:27] Mte90 commented on #76
Italian:
Mozilla tiene alla privacy di tutti gli utenti su internet. Tutto questo é scritto nel nostro manifesto. Dopo molte iniziative in diversi paesi e la nostra campagna per il NDG-Referendum, che é stato votato in settembre, abbiamo ancora molto da fare.
Il Referendum per la revisione della legge BÜPF é iniziato e finità il 7 luglio. La revisione tratta la privacy di tutti gli utenti su inter

[2016-05-05 10:28] freaktechnik commented on #56
I guess we should use something like http://symfony.com/doc/current/cmf/book/handling_multilang.html?

[2016-05-11 07:40] gperriard commented on #76
@MichaelKohler here is the french version:
Mozilla défend la vie privé des utilisateurs d'Internet. Ceci est inscrit dans notre manifeste. Après de multiple initiatives dans différents pays et notre campagne en faveur du référendum concernant la NGD (loi sur le renseignement) qui va été voté septembre, nous sommes à nouveau sollicités.

Le référendum sur la LSCPT (loi sur la surveillance de la cor

[2016-05-11 07:48] MichaelKohler commented on #76
Thanks Geoffrey!

@J0WI I think we have all necessary strings translated now

[2016-05-20 19:42] freaktechnik opened #77 "Replace links to mailing list with links to discourse"
As we now have a discourse and the aim is to make it the new default (and it will be easier for new people to get into, imo), we should link to it in place of the mailing list. Or we might want to keep both in the footer for transitional purposes.

[2016-05-20 19:43] freaktechnik commented on #77
Just to make it absolutely clear where to link to: https://discourse.mozilla-community.org/c/communities/switzerland

[2016-05-20 21:50] J0WI commented on #76
@MichaelKohler I think Romansh is not really a blocker, so we should push this to live urgently (not much time left to sign).

[2016-05-20 22:18] MichaelKohler commented on #76
@J0WI forgot about it, sorry.. done now

[2016-05-20 22:18] #76 closed

[2016-08-09 21:46] MichaelKohler opened #78 "PHP warning output in event widget"
In the event widget we currently have

[code]

This is probably due to no scheduled events. We either need to fix that (preferred) or at least make sure that it won't show in the widget itself.

![screen shot 2016-08-09 at 23 45 06](https://cloud.githubusercontent.com/assets/330324/17534836/874f2578-5e8b-11e6-9d8f-9e4fd78789c6.png)

[2016-08-09 22:03] freaktechnik commented on #78
[Good first bug]: Need to update the condition when the ical is parsed to require one more line on https://github.com/mozillach/mozilla.ch/blob/master/src/AppBundle/Controller/DefaultController.php#L110 as it seems remo has changed outputformat.

[2016-08-10 07:47] lkappeler opened #79 "Page Down"
Currently the **https://www.mozilla.ch/** page serves a 503 error.
Without the www-alias its working fine.

[2016-08-10 10:20] freaktechnik commented on #79
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1293796

[2016-08-25 09:42] #78 closed

[2016-09-08 13:23] freaktechnik commented on #79
https://www.mozilla.ch now redirects to https://mozilla.ch

[2016-09-08 13:23] #79 closed

[2016-09-12 21:18] J0WI opened #81 "Implement contribute.json"
It's exposed by the [Mozilla Observatory](https://observatory.mozilla.org/analyze.html?host=mozilla.ch) that we are not using it.

https://www.contributejson.org/
https://wiki.mozilla.org/Security/Guidelines/Web_Security#contribute.json

[2016-09-12 21:23] J0WI commented on #75
We currently also have problems with dependencies:

[code]

[2016-09-12 21:35] freaktechnik commented on #75
The newer guzzle might not work just out of the box (thus a major new version), I think it's worth filing an "upgrade guzzle" issue for that.

[2016-09-12 21:45] J0WI opened #82 "upgrade guzzle"
Forked from https://github.com/mozillach/mozilla.ch/issues/75:

We currently have problems with dependencies:
[code]

[2016-09-13 11:03] freaktechnik opened #83 "Set HSTS"
We currently don't set an HSTS header, even though the site is only reachable over HTTPS. Is this something we should set ourselves, or should the router from community infra insert it, since we technically only expose an HTTP server?

@flamingspaz is this something we should do on our side?

[2016-09-13 11:34] flamingspaz commented on #83
We're working on that on our side. Since all of the sites support HSTS it's easier for us to do this on the load balancer side.

The bug for this is https://bugzilla.mozilla.org/show_bug.cgi?id=1290410

[2016-09-13 12:37] freaktechnik commented on #83
Thanks for the fast feedback, makes sense that it would be done on your side, since you control the cert and can actually estimate the duration it should be cached.

[2016-09-21 21:53] #81 closed

[2016-09-21 21:58] #77 closed

[2016-09-21 22:17] freaktechnik commented on #82
We might end up having to do a bigger dependency upgrade, since most guzzle bundles I see require a newer version of Symfony, which we currently have hard locked.

[2016-09-22 02:20] #56 closed

[2016-09-22 11:14] freaktechnik commented on #65
This is a bit not-so-nice, since assetic doesn't want to manage fonts, apparently.

[2016-09-22 21:58] #65 closed

[2016-09-22 22:04] #83 closed

[2016-10-07 07:40] MichaelKohler opened #85 "Replace NDG vote tile"
Since the voting for NDG was on the 25th of September, we might want to replace that tile again. I think we can take all overlays out and replace it with a normal tile.

My suggestion would be a link to https://activate.mozilla.community/ to push this campaign further. We could use the header color for the tile background-color and add a text to it (something along the lines "Help us prototype the

[2016-10-07 12:48] MichaelKohler commented on #63
@freaktechnik should we implement this? If so, we can move forward with it

[2016-10-07 12:51] MichaelKohler opened #86 "Replace "Get in touch""
Let's replace the link and icon of "Get in touch" with a link to https://discourse.mozilla-community.org/c/communities/switzerland . Not sure what we could use as icon though.

![screen shot 2016-10-07 at 14 47 49](https://cloud.githubusercontent.com/assets/330324/19190383/86aaeb76-8c9d-11e6-9c3e-05e7a963c7ad.png)

[2016-10-07 13:01] freaktechnik commented on #86
that's already done. (in theory)

[2016-10-07 13:01] freaktechnik commented on #86
duplicate of #77

[2016-10-07 13:02] #86 closed

[2016-10-07 13:04] MichaelKohler commented on #86
eeeh, right.. sorry :(

[2016-10-07 13:05] freaktechnik commented on #63
Honestly, I'm still not sold on how the onboarding experience would work there.

[2016-10-07 13:48] freaktechnik commented on #63
Especially with the flow via discourse we discussed at the planning meetup, I'd think if anything we'd want to link something "read-only" like waffle.

[2016-10-07 13:52] MichaelKohler commented on #63
I'm okay with linking waffle as @lkappeler mentioned before.

[2016-12-29 15:28] MichaelKohler commented on #33
@lkappeler still interested in this?

[2016-12-29 15:29] MichaelKohler commented on #82
@freaktechnik would you be interested in doing this? I will create another PR within the next few days and that would be a great opportunity to release a new version

[2017-01-05 00:31] MichaelKohler commented on #34
Given the current ranking, I'm closing this one. Please open specific issues if we need to do anything else.

[2017-01-05 00:31] #34 closed

[2017-01-13 22:31] MichaelKohler commented on #85
PR here: https://github.com/mozillach/mozilla.ch/pull/87

[2017-01-28 15:20] annevk opened #89 "Put all channels on the frontpage"
* IRC
* Discourse
* Wiki
* ...

We should all link them directly from the frontpage.

[2017-01-30 11:49] MichaelKohler commented on #89
Please also note https://github.com/mozillach/mozilla.ch/pull/87

Communication Channels on the Wiki are updated: https://wiki.mozilla.org/Switzerland#Communication_Channels

[2017-01-30 12:29] freaktechnik opened #90 "Avatar tiles not fully randomized"
Currently two avatars are always displayed twice. The code needs to be double-checked and if that's not the issue look into twig caching posing a potential issue.

[2017-01-30 15:30] MichaelKohler commented on #90
Not for me, can you reproduce on different devices?

[2017-01-30 15:31] freaktechnik commented on #90
Seems to work from my office PC. However on Saturday both me and @annevk had this phenomenon.

[2017-01-30 16:09] annevk commented on #90
I'm no longer seeing it either.

[2017-02-13 17:20] MichaelKohler commented on #89
@annevk #87 is merged now, so it should be fairly straightforward without conflicts from now on :)

What I think we need to add:
* IRC
* Telegram
* Wiki

Meetup.com and Twitter are already covered by the existing tiles. I guess we can use the MDN one for now to get space. Also I guess we could remove the Firefox Dev Edition one as well if needed.

[2017-02-15 14:37] annevk commented on #89
I have to say that this looks rather daunting. Much more complex than I anticipated. Perhaps I was a little quick to volunteer for this. 😕

[2017-03-15 14:09] MichaelKohler commented on #90
Closing since this can't be reproduced anymore.. feel free to reopen once you could reproduce it again.

[2017-03-15 14:09] #90 closed

[2017-03-15 14:12] MichaelKohler commented on #85
I forgot to ask the community it to pull the latest image, I've done that now. Will close this issue once this is done and the website is updated.

[2017-03-18 02:25] MichaelKohler opened #91 "Finish docker-compose config"
WIP Branch: https://github.com/mozillach/mozilla.ch/tree/feature/docker_compose

- [ ] Add watcher for changes on dev
- [ ] Make sure that the build is still valid and can be built on DockerHub
- [ ] Document how Community IT needs to run it
- [ ] Tell Community IT to get to this new architecture

[2017-03-18 02:26] MichaelKohler commented on #89
I'll take care of this once #91 is done. I can't use vagrant right now and I could not figure out local dev requirements.

[2017-03-18 08:02] freaktechnik commented on #91
- [ ] Nuke Vargrant?

[2017-03-21 19:30] #85 closed

[2017-07-26 17:50] freaktechnik commented on #91
Not sure community IT can run docker compose, but honestly never looked into mesos that deeply.

[2017-07-26 17:55] MichaelKohler commented on #91
True, but the normal Dockerfile + arguments should still work, right?

[2017-07-26 17:56] freaktechnik commented on #91
With the current production compose settings for sure (it's just three env vars and a port forward).

[2017-07-26 17:59] MichaelKohler commented on #91
Good. Let's see if somebody has time to do it so it works with docker-compose and only the normal Dockerfile :)

[2017-07-26 18:22] bfirsh commented on #91
(Compose author here. 👋 )

Generally looks good! A few little things:

* I prefer having the default `docker-compose.yml` to be the dev environment, then having `docker-compose.prod.yml` or whatever for production. That way in development, you can just type `docker-compose up` instead of remembering a long command.

  The downside of this is you can't get rid of volumes when inheriting, so you hav

[2017-07-26 18:25] freaktechnik commented on #91
Given that the main application will probably end up being development this would make a lot of sense.

Thanks for your input!

[2019-03-30 17:32] Mozilla-GitHub-Standards opened #92 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The